.navbar-logo{
  padding-right: 8px;
  height: 32px;
}

/* .puzzle-navbar {
  background-color: rgb(255, 193, 204);
} */

.piece-icon {
  padding-bottom: 1px;
}

nav + .container {
  margin-top: 3rem;
}

.page-title {
  margin-bottom: 2.5rem;
}

.puzzle-form-modal{
/*  */
}