.navbar-logo{
  background: ;
  padding-right: 8px;
  height: 32px;
};

/* need to figure out how to change the background color of the navbar! */
.puzzle-navbar {
  background-color: rgb(255, 193, 204);
};
